<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

    <title>Home</title>
</head>
<body class="p-3 mb-2 bg-light text-black">
<div class="container">
    <div id="logoutDiv">
        <form action="#" th:action="@{'/logout'}" method="POST">
            <button type="submit" id="logout-button" class="btn btn-secondary float-right">Logout</button>
        </form>
    </div>
    <div id="contentDiv" style="clear: right;">
        <nav style="clear: right;">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-files-tab" data-toggle="tab" href="#nav-files" role="tab" aria-controls="nav-files" aria-selected="true">Files</a>
                <a class="nav-item nav-link" id="nav-notes-tab" data-toggle="tab" href="#nav-notes" role="tab" aria-controls="nav-notes" aria-selected="false">Notes</a>
                <a class="nav-item nav-link" id="nav-credentials-tab" data-toggle="tab" href="#nav-credentials" role="tab" aria-controls="nav-credentials" aria-selected="false">Credentials</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-files" role="tabpanel" aria-labelledby="nav-files-tab">
                <form action="#" th:object="${file}" th:action="@{'/files'}" enctype="multipart/form-data" method="POST">
                    <div class="container">
                        <div class="row" style="margin: 1em;">
                            <div class="col-sm-2">
                                <label for="fileUpload">Upload a New File:</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="file" class="form-control-file" id="fileUpload" name="fileUpload">
                            </div>
                            <div class="col-sm-4">
                                <button type="submit" class="btn btn-dark">Upload</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="table-responsive">
                    <table class="table table-striped" id="fileTable">
                        <thead>
                        <tr>
                            <th style="width: 20%" scope="col"></th>
                            <th style="width: 40%" scope="col">File Name</th>
                            <th style="width: 20%" scope="col">Content Type</th>
                            <th style="width: 20%" scope="col">File Size</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${files.empty}">
                            <td colspan="4">No files available</td>
                        </tr>
                        <tr th:each="file : ${files}">
                            <td>
                                <a target="_blank" th:href="${'/files/'+file.id}" class="btn btn-success">View</a>
                                <a th:fileId="${file.id}" class="btn btn-danger" onclick="showFileDeleteModal(this.getAttribute('fileId'))">Delete</a>
                            </td>
                            <th scope="row"><span th:text="${file.filename}">ExampleFile.txt</span></th>
                            <td><span th:text="${file.contentType}">Example File Content Type</span></td>
                            <td><span th:text="${file.fileSize}">Example File Size</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal fade" id="fileDeleteModal" tabindex="-1" role="dialog" aria-labelledby="fileModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="fileDeleteModalLabel">Are you sure you want to delete this file?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="#" th:object="${file}" th:action="@{'/files/delete'}" method="POST">
                                <input type="hidden" th:field="*{id}" name="fileId" id="file-delete-id">
                                <button id="fileDelete" type="submit" class="d-none"></button>
                            </form>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-danger" onclick="$('#fileDelete').click();">Confirm Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-notes" role="tabpanel" aria-labelledby="nav-notes-tab">
                <button style="margin: 0.25em;" type="button" id="new-note-button" class="btn btn-info float-right" onclick="showNoteModal()">
                    + Add a New Note
                </button>

                <div class="table-responsive">
                    <table class="table table-striped" id="noteTable">
                        <thead>
                        <tr>
                            <th style="width: 20%" scope="col"></th>
                            <th style="width: 20%" scope="col">Title</th>
                            <th style="width: 60%" scope="col">Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${notes.empty}">
                            <td colspan="3">No notes available</td>
                        </tr>
                        <tr th:each="note : ${notes}">
                            <td>
                                <button type="button" class="btn btn-success" th:noteId="${note.id}" th:noteTitle="${note.noteTitle}" th:noteDescription="${note.noteDescription}" onclick="showNoteModal(this.getAttribute('noteId'), this.getAttribute('noteTitle'), this.getAttribute('noteDescription'))">Edit</button>
                                <a class="btn btn-danger" th:noteId="${note.id}" onclick="showNoteDeleteModal(this.getAttribute('noteId'))">Delete</a>
                            </td>
                            <th class="note-row note-title" scope="row"><span th:text="${note.noteTitle}">Example Note Title</span></th>
                            <td class="note-row note-description"><span th:text="${note.noteDescription}">Example Note Description</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="noteModalLabel">Note</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="#" th:object="${note}" th:action="@{'/notes'}" method="POST">
                                    <input type="hidden" th:field="*{id}" name="noteId" id="note-id">
                                    <div class="form-group">
                                        <label for="note-title" class="col-form-label">Title</label>
                                        <input type="text" th:field="*{noteTitle}" name="noteTitle" class="form-control" id="note-title" maxlength="20" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="note-description" class="col-form-label">Description</label>
                                        <textarea class="form-control" th:field="*{noteDescription}" name="noteDescription" id="note-description" rows="5" maxlength="1000" required></textarea>
                                    </div>
                                    <button id="noteSubmit" type="submit" class="d-none"></button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" onclick="$('#noteSubmit').click();">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="noteDeleteModal" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="noteDeleteModalLabel">Are you sure you want to delete this note?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="#" th:object="${note}" th:action="@{'/notes/delete'}" method="POST">
                                <input type="hidden" th:field="*{id}" name="noteId" id="note-delete-id">
                                <button id="noteDelete" type="submit" class="d-none"></button>
                            </form>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-danger" onclick="$('#noteDelete').click();">Confirm Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-credentials" role="tabpanel" aria-labelledby="nav-credentials-tab">
                <button style="margin: 0.25em;" type="button" class="btn btn-info float-right" id="new-credential-button" onclick="showCredentialModal()">
                    + Add a New Credential
                </button>

                <div class="table-responsive">
                    <table class="table table-striped" th:object="${credentials}" id="credentialTable">
                        <thead>
                        <tr>
                            <th style="width: 20%" scope="col"></th>
                            <th style="width: 35%" scope="col">URL</th>
                            <th style="width: 20%" scope="col">Username</th>
                            <th style="width: 25%" scope="col">Password</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${credentials.empty}">
                            <td colspan="4">No credentials available</td>
                        </tr>
                        <tr th:each="credential : ${credentials}">
                            <td>
                                <button type="button" class="btn btn-success" th:credentialId="${credential.id}" th:credentialUrl="${credential.url}" th:credentialUsername="${credential.username}" onclick="showCredentialModal(this.getAttribute('credentialId'), this.getAttribute('credentialUrl'), this.getAttribute('credentialUsername'))">Edit</button>
                                <a class="btn btn-danger" th:credentialId="${credential.id}" onclick="showCredentialDeleteModal(this.getAttribute('credentialId'))">Delete</a>
                            </td>
                            <th scope="row" class="credential-row credential-url"><span th:text="${credential.url}">Example Credential URL</span></th>
                            <td class="credential-row credential-username"><span th:text="${credential.username}">Example Credential Username</span></td>
                            <td class="credential-row credential-password"><span th:text="${credential.password}">Example Credential Password</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="modal fade" id="credentialModal" tabindex="-1" role="dialog" aria-labelledby="credentialModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="credentialModalLabel">Credential</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="#" th:object="${credential}" th:action="@{'/credentials'}" method="POST">
                                    <input type="hidden" th:field="*{id}" name="credentialId" id="credential-id">
                                    <div class="form-group">
                                        <label for="credential-url" class="col-form-label">URL</label>
                                        <input type="text" th:field="*{url}" name="url" class="form-control" id="credential-url" maxlength="100" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="credential-url" class="col-form-label">Username</label>
                                        <input type="text" th:field="*{username}" name="username" class="form-control" id="credential-username" maxlength="30" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="credential-password" class="col-form-label">Password</label>
                                        <input type="text" th:field="*{password}" name="password" class="form-control" id="credential-password" maxlength="30" required>
                                    </div>
                                    <button id="credentialSubmit" type="submit" class="d-none"></button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" onclick="$('#credentialSubmit').click();">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="credentialDeleteModal" tabindex="-1" role="dialog" aria-labelledby="credentialDeleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="credentialDeleteModalLabel">Are you sure you want to delete this credential?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="#" th:object="${credential}" th:action="@{'/credentials/delete'}" method="POST">
                                <input type="hidden" th:field="*{id}" name="credentialId" id="credential-delete-id">
                                <button id="credentialDelete" type="submit" class="d-none"></button>
                            </form>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-danger" onclick="$('#credentialDelete').click();">Confirm Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/jquery-slim.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>

<!--For opening the save and delete modals-->
<script type="text/javascript">
            // For opening the note modal
            function showNoteModal(noteId, noteTitle, noteDescription) {
                $('#note-id').val(noteId ? noteId : '');
                $('#note-title').val(noteTitle ? noteTitle : '');
                $('#note-description').val(noteDescription ? noteDescription : '');
                $('#noteModal').modal('show');
            }

            // For opening the credentials modal
            function showCredentialModal(credentialId, url, username) {
                $('#credential-id').val(credentialId ? credentialId : '');
                $('#credential-url').val(url ? url : '');
                $('#credential-username').val(username ? username : '');

                if (credentialId) {
                    getDecryptedPassword(credentialId);
                }

                $('#credentialModal').modal('show');
            }

            // For opening the note delete modal
            function showNoteDeleteModal(noteId) {
                $('#note-delete-id').val(noteId ? noteId : '');
                $('#noteDeleteModal').modal('show');
            }

            // For opening the credentials delete modal
            function showCredentialDeleteModal(credentialId) {
                $('#credential-delete-id').val(credentialId ? credentialId : '');
                $('#credentialDeleteModal').modal('show');
            }

            // For opening the file delete modal
            function showFileDeleteModal(fileId) {
                $('#file-delete-id').val(fileId ? fileId : '');
                $('#fileDeleteModal').modal('show');
            }

            // Retrieve decrypted passwords from the server
            async function getDecryptedPassword(credentialId) {
                let response = await fetch('/credentials/decrypt/' + credentialId);
                let decryptedPassword = await response.text();

                $('#credential-password').val(decryptedPassword);
            }
        </script>
</body>
</html>